
.product1{
  padding-top: 400px;
}

.product h2{
  text-align: center;
  font-size: 2rem;
  font-family: Jost;
}
.product p{
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 20px;
}
.product-link{
  font-family: Jost;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 20px;
  display: flex;
    justify-content: center;


}
.product-link a {
    display: flex;
    list-style-type: none;
    text-align: center;
     padding-left: 20px;
     padding-right: 20px;
    justify-content: center;
}
.product-link li {
  padding: 10px;
  text-align: center;
}
.product-link1  {
  background-color: #58B720;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 20px ;
  border: 1px solid #58B720;
  font-size: 1.5rem;
}
.product-link2  {
  text-decoration: none;
  padding: 20px 20px ;
  border: 1px solid #58B720;
  font-size: 1.5rem;
  color: #58B720;
  &:hover {
    background-color: #58B720;
    color: #ffffff;
  }
}
.product-link3  {
  text-decoration: none;
  padding: 20px 20px ;
  border: 1px solid #58B720;
  font-size: 1.5rem;
  color: #58B720;
  &:hover {
    background-color: #58B720;
    color: #ffffff;
  }
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.product-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 15px;
  box-sizing: border-box;
  position: relative; // Đặt vị trí tương đối để icon có thể được đặt một cách chính xác

  img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 3s ease;
    &:hover{
      transform: scale(1.1);
    }
  }

  .search-icon {
    display: flex;
    justify-content: center; // Căn giữa các icon
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%); // Căn giữa icon so với chiều rộng của product-item
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    &:hover{
      color: #ffffff;
      background-color: #58B720;
    }

    svg {
      margin: 0 8px; // Tạo khoảng cách giữa các icon
      width: 40px; // Tăng kích thước
      height: 40px; // Tăng kích thước
    }
    .icon{

      padding: 0.3rem;
      border-radius: 50%;
      }
  }
}

h4 {
  color: #000;
  margin-top: 10px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: normal;
  &:hover{
    color: #58B720;
  }
}

p {
  color: #58B720;
  font-family: Jost;
  margin-top: 5px;
  font-size: 1.6rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .product-item {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media (max-width: 768px) {
  .product-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .product-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}