.OurBlogs{
    display : flex;
    text-align: center;
    justify-content: center;
    width:1690px ;
    height: 880px;

}
.center{
    width: 1410px;
    height: 109px;
    padding-top: 84px;

}
.heading{
  width:142px; 
  height: 64px;
  padding-left: 630px;



}
.heading h3{
     font-size: 24px;
     font-weight: 500;
     line-height: 1.2rem;
     letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    // padding: 0px 0px 0px 0px;
    // margin: 0px 0px 0px 0px

}
.sub_heading {
    font-family: Jost;
    font-size: 17px;
    font-weight: 500;
    color: #666;
    padding-top: 20px;
    display: block;
}
.img-conten{
    width: 1440px;
    height: 690px;
}
.slick-slide{
    width: 480px;
    height: 685px;
}
.conten-section{
    width:450px ;
    height:635px ;
    background: #f5f5f5;
}
.image{
    width: 430px;
    height: 374px;
    padding-top: 10px;
}
.info_blog{
    width: 430px;
    height: 192px;
    margin-top: -240px;
    margin-left: 9px;
}
.cate{
    width: 47px;
    height: 23px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #83868c;
    text-transform: uppercase;
    text-align: center;
}
.title-blog{
    font-family: Jost;
    position: relative;
    font-size: 25px;
    color: #111;
    font-weight: 600;
    transition: all .3s ease;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.conten{
    font-family: Jost;
    font-size: 16px;
    font-weight: 600;
    color: #83868c;
    padding: 0 10px;
}
.btn_readmore{
    width: 430px;
    height: 57px;
}
.class{
    font-family: Jost;
    display: inline-block;
    margin-top: 15px;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    background: #95c066;
    transition: all .3s;
    letter-spacing: 1px;
    text-decoration: none;
}


            

