/* Container for the registration form */
.register-abc {
    height: 600px;
    box-shadow: 0 4px 8px #95c066;
    border-radius: 10px; /* Rounded corners for a softer look */
    overflow: hidden; /* Ensures nothing spills out of the container */
    width: 800px;
    justify-content: center;
    align-items: center;
}

/* Main container for the registration and login forms */
.register-body {
    width: 100%;
    height: 504px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/* Container for individual forms */
.register-container, .register-login {
    flex: 1 1 500px;
    max-width: 100%;
}

/* Styling for registration and login form components */
.register-2 {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto; /* Adjust margin for spacing */
    margin-top: 110px; /* Additional margin-top for spacing */
}

.register-col {
    padding-top: 100px; /* Additional padding-top for spacing */
    min-height: 1px;
    padding: 0 15px;
}

.register-text {
    width: 100%;
    font-size: 1.8rem;
    font-family: Jost, sans-serif;
    text-decoration: uppercase;
    font-weight: 600;
    padding-bottom: 50px;
    text-align: center;
    line-height: 1.2;
    margin: 0;
}

.register-pencil {
    margin-right: 1rem;
}

.register-post {
    width: 100%;
    height: 300px;
    margin-bottom: 0;
}

.register-group {
    margin-bottom: 1rem;
    display: flex;
    height: 80px;
    flex-wrap: wrap;
}

.register-group-col {
    font-family: Jost, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    padding: calc(0.375rem + 1px) ;
    flex: 0 0 25%;
    max-width: 25%;
    justify-content: space-between;
}

.register-label {
    max-width: 75%;
    padding: 0 15px;
    flex: 1;
}

.register-jsx {
    font-family: Jost, sans-serif;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px; /* Slightly rounded edges for inputs */
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-sizing: border-box;
    height: 60px;
}

.register-center {
    text-align: center;
    margin-top: 3rem;
    height: 60px;
}

.register-dark {
    border-radius: 4px; /* Slightly rounded edges for buttons */
    padding: 12px 40px;
    background-color: #111;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    overflow: hidden;
    border: none;
    letter-spacing: .2em;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.5;
    font-family: inherit;
    transition: background-color .3s ease; /* Smooth background color transition */
    display: block;
    width: max-content;
    margin: auto;
    cursor: pointer;
    height: 100%;
}

.register-dark:hover {
    background-color: #95c066; /* Lighter shade for hover state */
}

.register-forgot {
    width: 100%;
    height: 24px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.register-app {
    text-decoration: none;
    font-size: 1.2rem;
    color: #111;
    display: block;
    width: max-content;
    margin: auto;
}

.register-app:hover {
    color: #95c066;
}

.register-nav {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    width: 100%;
    min-height: 1px;
    padding: 0 15px;
}

/* Styling for login form container */
.register-login {
    top: 0;
    right: calc(3.33% - 10px);
    padding: 10px;
    transform: translateY(24%);
    padding-top: 100px;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    min-height: 1px;
    padding: 0 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Rounded corners for a softer look */
    overflow: hidden; /* Ensures nothing spills out of the container */
    height: 600px;
    margin-bottom: 100px;
}

.register-customer {
    height: 600px;
    box-shadow: 0 4px 8px #95c066;
    border-radius: 10px;
    width: 800px;
}

.register-title {
    font-size: 1.8rem;
    font-family: Jost, sans-serif;
    text-decoration: uppercase;
    font-weight: 600;
    padding-bottom: 50px;
    text-align: center;
    line-height: 1.2;
    color: inherit;
    padding-top: 80px;
}

.register-methods {
    width: 100%;
    height: 235px;
    margin-bottom: 0;
}

.register-gost {
    width: 100%;
    height: 24px;
    margin-top: 1.5rem;
    justify-content: center;
    display: flex;
}

.register-leftx {
    padding-right: 0.5rem;
}

.register-return, .register-cover {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
    display: block;
    width: max-content;
    margin: auto;
}

.register-return:hover, .register-cover:hover {
    color: #95c066;
}

.error-message {
    color: #ff6b6b; /* More noticeable error color */
    text-align: center; /* Center-align error messages */
    margin-top: 20px; /* Space above the error message */
}

/* Container for the flipping effect */
.flip-container {
    perspective: 1000px;
    margin-top: 200px;
    margin-bottom: 100px;
    transition: transform 0.6s;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(360deg);
    position: absolute;
    display: none;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

.flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}

/* Styling for the flip control */
.flip-control {
    position: relative;
    display: inline-block;
    padding:10px 20px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    color: #58B720;
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 50px;
    border: 2px solid #58B720;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}

.flip-control::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid black;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-right: 15px;
}

.flip-control.flip::before {
    transform: translateY(-50%) rotate(180deg);
}


.app2{
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
}
.app2-home{
    text-decoration: none;
    font-size: 1.3rem;
    color: #58B720;
    &:hover{
        color: #2b6609;
    }
}