.slide-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 550px;
    width: 100%;
  }
  
  .slide-container span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  .box-title4{
    font-family: Jost;
    font-size: 16px;
    letter-spacing: 4px;
    color: #303030;
    padding: 0px 0 0 320px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .box-title1 {
    font-family: Jost;
    color: #000000;
    font-size: 45px;
    padding-left: 320px;
    margin-top: 0;
    margin-bottom: 0; 
  }
  .box-title2{
    color: #303030;
    font-family: Jost;
    font-size: 20px;
    padding-left: 320px;
    text-transform: unset;
    line-height: 1.5;
  }
  .box-title3{
    padding-left: 320px;
  }
  .button {
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 1;
    border: 1px solid #000000;
    padding: 15px 40px;
    transition: all .3s;
    display: inline-block;
  }
  .box-title3 a {
    color: #000000;
    text-decoration: none;
  }
  .box-title3 a:hover {
     color: #efefef;
     background-color: #000000;
  }