.slide-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 835px;
    max-width: 100%;
    
  }
  

  .box-title4{
    font-family: Jost;
    font-size: 1.8rem;
    letter-spacing: 4px;
    color: rgb(48, 48 ,48);
    padding: 0 0 0 320px;
    margin-top: 0;
    margin-bottom: -90px;
  }
  .box-title1 {
    font-family: Jost;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    padding-left: 320px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .box-title2{
    color: rgb(0, 0, 0);
    font-family: Jost;
    font-size: 20px;
    padding-left: 320px;
    text-transform: unset;
    line-height: 1.5;
    margin-top: -100px;
  }
  .title1{
    padding-left: 400px;
  }
  .title2{
    padding-right: 900px;
  }
  .title3{
    padding-right: 800px;
  }
  .box-title3{
    padding-left: 320px;
  }
  .button {
    letter-spacing: 2px;
    font-size: 1.2rem;
    line-height: 1;
    border: 1px solid #000000;
    padding: 15px 40px;
    transition: all .3s;
    display: inline-block;
  }
  .box-title3 a {
    color: #000000;
    text-decoration: none;
  }
  .box-title3 a:hover {
     color: #efefef;
     background-color: #000000;
  }