/* Wishlist.scss */
.Wishlist{
  padding-bottom: 300px;
}
.slide-wishlist{
  margin-top: 110px;
  width: 100%;
}
.imgWishlistContainer {
    position: relative;
  }
  .imgWishlist{
    width: 100%;
    height: auto;
  }
  .text-wishlist{
    font-size: 46px;
    font-weight: 500;
    line-height: 55.2px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: capitalize;
    font-family: 'Jost', sans-serif;
    margin-top:-30px;

    
  }
  .text-wishlist, .home-wishlist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255) ; /* Màu văn bản của các tiêu đề */
    /* Các thuộc tính CSS khác nếu cần thiết */
  }
  
  .home-wishlist {
    font-family: 'Jost', sans-serif;
    top: calc(50% + 50px);
    font-size: 17px;
    text-size-adjust: 100%;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 30px;
  }
/* Wishlist.scss */
.bread-crumb {
    display: flex;
    justify-content: center;
    margin-bottom: -150px;
    margin-top: 100px;
  }
  
  .loginnow {
    display: flex;
    text-align: center;
    font-family: 'Jost', sans-serif;
}
.wishlist-link a{
  color: black;
  text-decoration: none;
  &:hover{
    color: #95c066;
  }
}
.wishlist-image {
  max-width: 100px; /* Thiết lập kích thước tối đa cho ảnh */
  height: auto; /* Đảm bảo tỷ lệ hình ảnh không bị méo */
}
.wishlist-shopping{
  border-radius: 0px ;
}

  