.Bill {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 210px;
    margin-bottom: 100px;
    border: 1px solid #58B720;
    margin-left:40px;
    margin-right: 40px;
  }
  
  .Bill-title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .customer-info, .order-items-bill, .total-price-bill {
    margin-bottom: 20px;
  }
  
  .bill-h3 {
    color: #555;
    margin-bottom: 10px;
  }
  
  .bill-p, .bill-p-item, .bill-p-price {
    color: #666;
    line-height: 1.5;
  }
  
  .item-bill {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .bill-p-item {
    margin: 0;
  }
  
  .bill-price {
    color: #333;
    text-align: right;
  }
  
  .bill-p-price {
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    color: #000;
  }
  
  .shipping-status {
    margin-bottom: 20px;
  }
  
  .shipping-status-text {
    color: #333;
    text-align: center;
  }
  
  .bill-p-fail {
    color: #f00;
    text-align: center;
  }

  .bill-icon{
    display:flex;
    max-width: 100%;
  }
  .load-bill,.cook-bill,.bike-bill{
    display:flex;
    flex-direction: column;
    height: 100px;
    width: 500px;
  }
  .bill-icon-1{
    width: 40px;
    height: 40px;
    color: #58B720;
    text-align: center;
    
  }
  .load-bill-p{
    margin: 10px;
  }
  .bill-conten{
    padding: 50px;
  }
  .bill-link2 {
    text-decoration: none;
    padding: 20px;
    text-align: left;
    margin-left: 550px;
    margin-right: 50px;
    font-size: 1.4rem;
    color: #58B720;
    margin-bottom: 50px;
    &:hover{
      color: #f9f9f9;
      background-color: #58B720;
    }
  }
  .bill-link1 {
    text-decoration: none;
    padding: 20px;
    text-align: left;
    margin-left: 0px;
    font-size: 1.4rem;
    color: #58B720;
    &:hover{
      color: #f9f9f9;
      background-color: #58B720;
    }
  }
  