/* styles.css */
.checkoutpay{
    display: flex;
    margin-top: 120px;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.Formcheckout {
    padding: 20px 20px 20px 100px;
    border-radius: 5px;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.CheckoutMail {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
}
.CheckoutUs{
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
}
.CheckoutLast{
    width: 37%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
}
.CheckoutFist{
    width: 37%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
    margin-left: 25px;
}
.CheckoutAddress{
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
}
.CheckoutCity{
    width: 37%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
}
.CheckoutZip{
    width: 37%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
    margin-left: 25px;
}
.Checkoutp1{
    font-size: 1rem;
    color: #858181;
    font-family: Jost;
    text-align: left;
}
label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.CheckOutButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.CheckOutButton:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff0000;
    margin-top: 5px;
}

.success-message {
    color: #008000;
    margin-top: 5px;
}
